.header {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;

    >div {
        margin-bottom: 10px;
    }

    .search {
        >div {
            margin-bottom: 10px;
        }
    }
}